@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.georgia-font {
  font-family: Georgia, serif;
}

.font-chanakya {
  font-family: "Chanakya", serif;
}

.font-druk {
  font-family: "Druk", sans-serif;
}

.font-french {
  font-family: "FrenchDemo", cursive;
}

.font-naganoshi {
  font-family: "Naganoshi", serif;
}

.font-ngetic {
  font-family: "NgeticModern", sans-serif;
}

.font-parisienne {
  font-family: "Parisienne", cursive;
}

.font-miskan {
  font-family: "Miskan", sans-serif;
}

.font-burgundia {
  font-family: "Burgundia", serif;
}

.font-crustaceans {
  font-family: "Crustaceans", cursive;
}

.font-kohinanum {
  font-family: "KOHINanum", sans-serif;
}

.font-kremlin {
  font-family: "Kremlin", serif;
}

.font-mingimperial {
  font-family: "MingImperial", serif;
}

.font-notoserifkr {
  font-family: "NotoSerifKR", serif;
}

.font-antaresia {
  font-family: "Antaresia", cursive;
}

.font-scriptorial {
  font-family: "Scriptorial", cursive;
}

.font-adelia {
  font-family: "Adelia", cursive;
}
.font-frenchquarter {
  font-family: "FrenchQuarter", cursive;
}

.font-tirodevanagari {
  font-family: "TiroDevanagariHindi", serif;
}

.font-yulltan {
  font-family: "Yulltan", cursive;
}

.font-kabyah {
  font-family: "Kabyah", cursive;
}

.font-autography {
  font-family: "Autography", cursive;
}

.font-ebrula {
  font-family: "EbrulaVintage", cursive;
}
